body {
    font-family: Century Gothic;
    overflow-x: hidden;
}


/* CSS Navbar */

.navbar {
    background-color: #ffffff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.074);
}

.navbar-light .navbar-nav .nav-link {
    color:  #939799;
}

a {
    color:  #939799;
}

a:hover {
    color: #252525;
}

.navbar-brand {
    font-weight: bold;
    color:  #939799;
}

.btn-login {
    background:  #939799;
    border-radius: 5px;
}


/* Efek Border dari Masuk Kemudian Keluar*/

.sliding-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-underline:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

.sliding-underline:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background:  #939799;
    transition: width .5s ease;
}

.sliding-underline:hover:before {
    width: 100%;
    background:  #939799;
    transition: width .5s ease;
}

.sliding-underline:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}


/* CSS Background Login*/

.bg-login {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
    margin-top: 5%;
    margin-left: 9%;
}


/* CSS Login */

.row {
    margin-top: 4%;
}

.login {
    margin-top: 20%;
    color:  #939799;
}


/* CSS Input Login */

.scr {
    background: #ffffff;
    height: 40px;
    width: 50px;
    border-radius: 50px;
    border-left: none;
    border-top: 1px solid  #939799;
    border-bottom: 1px solid  #939799;
    border-right: 1px solid  #939799;
}

.input-group {
    width: 55%;
}

.scr:focus {
    background: #ffffff;
    color: rgb(61, 61, 61);
}

.input-group-text {
    border-radius: 50px;
    background:  #939799;
    color: white;
    border-right: none;
    border-top: 1px solid  #939799;
    border-bottom: 1px solid  #939799;
    border-left: 1px solid  #939799;
}

.tombol-login {
    border-radius: 50px;
    background:  #939799;
    color: white;
    width: 55%;
    margin-left: 22.5%;
}

.tombol-login:hover {
    border-radius: 50px;
    background:  #939799;
    color: white;
}

.register {
    color: #252525;
}

.bgKiri,
.formKanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.5s;
}

.formKanan {
    transform: translate(50px, 0);
}

.bgKiri.bgMuncul,
.formKanan.formMuncul {
    opacity: 1;
    transform: translate(0, 0);
}