body {
    background: #ffffff;
    overflow-x: hidden;
}

.garis {
    border: 1px solid #ffffff;
    width: 99%;
    opacity: 0.5;
}

.aktif {
    border-bottom: 3px solid #ffffff;
}

.profil {
    border-bottom: 1px solid #3e3e3f;
}

.text-color {
    color: #ffffff;
}

.bg-color {
    background: #252525;
}

.navs {
    height: 3000px;
    position: fixed;
    left: 0;
    z-index: 1;
    background:  #939799;
}

.content {
    margin-left: 15%;
}

.sliding-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-underline:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .7s ease;
}

.sliding-underline:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #ffffff;
    transition: width .7s ease;
}

.sliding-underline:hover:before {
    width: 100%;
    background: #ffffff;
    transition: width .7s ease;
}

.sliding-underline:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}


/* .page-link {
    background: #252733;
    color: white;
}

.page-link:hover {
    background: #007bff;
    color: white;
} */

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 20px;
    right: 15px;
    opacity: 0.4;
    font-size: 90px;
}

.line {
    border: 1px solid #343A40;
    width: 94%;
}

.table-color {
    width: 95%;
}

#myTable_length,
#myTable_info {
    margin-left: 30px;
}

label input[type="search"] {
    margin-right: 30px;
}

#myTable_paginate {
    margin-right: 30px;
}


/* .wadah {
    background: rgb(255, 255, 255);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 5px;
} */

.tombol {
    margin-left: 20px;
    margin-top: -10px;
}

.aksi {
    width: 15%;
}